@inherits LayoutComponentBase
<div style="@InlineStyle">
    @ChildContent
</div>

@code {
    [Parameter]
    public string Gap { get; set; } = "0"; // 자식 요소 간 거리 (기본값: 0px)

    [Parameter]
    public string AlignItems { get; set; } = "stretch"; // align-items 기본값

    [Parameter]
    public string JustifyContent { get; set; } = "flex-start"; // justify-content 기본값

    [Parameter]
    public RenderFragment? ChildContent { get; set; } // 자식 요소

    [Parameter] public bool IsBottomSpace { get; set; } = false;

    [Parameter]
    public string Padding { get; set; } = "0"; // 패딩 옵션 추가
    
    [Parameter]
    public string Border { get; set; } = "none";
    
    [Parameter]
    public string MinWidth { get; set; } = "auto";

    
    private string InlineStyle => string.Join(" ", new string?[]
    {
        "display: flex;",
        "flex-direction: column;",
        $"gap: {Gap};",
        $"align-items: {AlignItems};",
        $"justify-content: {JustifyContent};",
        $"padding: {Padding};",   
        $"border: {Border};",
        $"min-width: {MinWidth};",
        IsBottomSpace ? "padding-bottom: 50vh;" : null
    }.Where(style => !string.IsNullOrEmpty(style)));
}