.RelatedSearchView {
    --RelatedSearchResultWidth: 482px;
    position: absolute;
    top: 0px;
    width: var(--RelatedSearchResultWidth);
    height: 100%;
    background-color: var(--Background-Normal);
}

.RelatedSearchView .ListView {
    position: absolute;
    top: 70px;
    left: 10px;
    right: 2px;
    bottom: 10px;
    overflow-y: scroll;
    border-collapse: collapse;
}

.RelatedSearchView .ListView::-webkit-scrollbar {
    /*display: none;*/
    width: 8px;
}
.RelatedSearchView .ListView::-webkit-scrollbar-thumb {
    background-color: var(--Scroll-Stroke);
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
.RelatedSearchView .ListView::-webkit-scrollbar-track {
    background-color: var(--Scroll-Background);
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}

.RelatedSearchView .ListView table {
    width: 100%;
    border-collapse: collapse;
}

.RelatedSearchView .ListView tr {
    height: 40px;
    color: var(--Text-Normal);
}

.RelatedSearchView .ListView td {
    padding: 10px 0 10px 0;
    font-size: 13px;
}

.RelatedSearchView .ListView th {
    font-size: 15px;
    font-weight: normal;
}

.RelatedSearchView .ListView tbody tr:nth-child(odd) {
    background-color: var(--Table-Row-Highlight);
}
.RelatedSearchView .ListView tbody tr:hover {
    background-color: var(--Table-Row-Hover);
}
.RelatedSearchView .ListView tbody tr:active {
    background-color: var(--Table-Row-Active);
}

.RelatedSearchView .ListView td:first-child {
    border-top-left-radius: 11px;
    border-bottom-left-radius: 11px;
}

.RelatedSearchView .ListView td:last-child {
    border-top-right-radius: 11px;
    border-bottom-right-radius: 11px;
}

.RelatedSearchView .ListView .Header .First {
    width: 100px;
}
.RelatedSearchView .ListView .Header .Second {
    width: 200px;
}
.RelatedSearchView .ListView .RowItem .First {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}
.RelatedSearchView .ListView .RowItem .Second {
    text-align: center;
}
.RelatedSearchView .ListView .RowItem .Third {
    padding-left: 10px;
    padding-right: 10px;
}

.RelatedSearchView .FileSelectView {
    position: fixed;
    padding: 5px;
    background-color: khaki;
    font-size: 13px;
    border-radius: 9px;
    box-shadow: 5px 0 8px -2px rgba(0, 0, 0, 0.16);
}

.FileSelectView .FileSelectViewItem {
    border-radius: 2px;
    padding: 2px;
    margin-top: 4px;
}

.FileSelectViewItem .Underline {
    width: 100%;
    height: 1px;
    margin: 4px 0 0px;
    background-color: rgb(154, 154, 139);
}

.RelatedSearchView .FileSelectView :hover {
    background-color: rgb(211, 202, 114);
}

.RelatedSearchView .FileSelectView :active {
    background-color: rgb(182, 175, 88);
}

.FileSelectView :last-child .Underline {
    display: none;
}
