.h-toggle-switch {
    width: 50px;
    height: 28px;
    background-color: #ccc;
    border-radius: 14px;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s;
}

/* 내부의 동그란 버튼(슬라이더) */
.h-toggle-knob {
    width: 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: left 0.3s;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}

/* 토글 ON 상태 */
.h-toggle-switch.on {
    background-color: var(--primary-color);
}

.h-toggle-switch.on .h-toggle-knob {
    left: calc(100% - 26px); /* 오른쪽 끝으로 이동 */
}

/* 토글 OFF 상태 */
.h-toggle-switch.off {
    background-color: #ccc;
}

/* =========================
   Small 일 때의 스타일
========================= */
.h-toggle-switch-small {
    width: 40px;
    height: 20px;
    border-radius: 10px;
}

.h-toggle-switch-small .h-toggle-knob {
    width: 16px;
    height: 16px;
    top: 2px;
    left: 2px;
}

.h-toggle-switch-small.on .h-toggle-knob {
    left: calc(100% - 18px); /* 16px + 2px 테두리 고려 */
}

/* =========================
   Medium (기본) 일 때의 스타일
========================= */
.h-toggle-switch-medium {
    width: 50px;
    height: 28px;
    border-radius: 14px;
}

.h-toggle-switch-medium .h-toggle-knob {
    width: 24px;
    height: 24px;
    top: 2px;
    left: 2px;
}

.h-toggle-switch-medium.on .h-toggle-knob {
    left: calc(100% - 26px); /* 24px + 2px */
}

/* =========================
   Large 일 때의 스타일
========================= */
.h-toggle-switch-large {
    width: 60px;
    height: 34px;
    border-radius: 17px;
}

.h-toggle-switch-large .h-toggle-knob {
    width: 28px;
    height: 28px;
    top: 3px;  /* 전체 높이가 커졌으므로 약간 조절 */
    left: 3px;
}

.h-toggle-switch-large.on .h-toggle-knob {
    left: calc(100% - 31px); /* 28px + 3px */
}

/* disabled 상태일 때 처리 */
.h-toggle-switch.disabled {
    opacity: 0.5;
    cursor: not-allowed; /* 클릭 불가능 아이콘으로 변경 */
    pointer-events: none; /* 어떠한 마우스 이벤트도 발생하지 않도록 처리 */
}