.CenterText {
    display: flex;
    justify-content: center;
    align-items: center;
}

.VerticalCenter {
    display: flex;
    align-items: center;
}

.HiddenScrollbar::-webkit-scrollbar {
    display: none;
}

/* .CommonComponent {
    --Text-Highlight: #4a70f7;
    --Text-Normal: #464646;
    --Text-Hover: #4a70f7;
    --Text-Active: #3b5bd1;
    --Background-Highlight: #4a70f7;
    --Background-Highlight-Hover: #4265e3;
    --Background-Highlight-Active: #3b5bd1;
    --Background-Normal: #f4f6fc;
    --Background-Normal-Hover: #e1e3e8;
    --Background-Normal-Active: #d3d5db;
    --Stroke-Highlight: #fff;
    --Stroke-Normal: #464646;
    --Separate-Line: #c5cbcf;
    --Icon-Normal: #5e6467;
    --Icon-Highlight: #fff;
    --Table-Row-Highlight: #e7edf1;
    --Table-Row-Hover: #dce1e6;
    --Table-Row-Active: #d3d8de;
} */

/* .DarkTheme .CommonComponent {
    --Text-Normal: #464646;
    --Stroke-Normal: #464646;
    --Background-Normal: #f4f6fc;
    --Background-Normal-Hover: #e1e3e8;
    --Background-Normal-Active: #d3d5db;
    --Component-Border: #5e6467;
    --Component-Background: #e7edf1;
    --Component-Background-Hover: #dce1e6;
    --Component-Background-Active: #d3d8de;
    --Component-Active: #4a70f7;
    --Component-Stroke: #464646;
    --Component-Disable: #a4a4a4;
    --Component-Shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.21);
}

.LightTheme .CommonComponent {
    --Text-Normal: #fff;
    --Stroke-Normal: #fff;
    --Background-Normal: #3c3f41;
    --Background-Normal-Hover: #5e6467;
    --Background-Normal-Active: #2a2c2d;
    --Component-Border: #e6e8ef;
    --Component-Background: #fff;
    --Component-Background-Hover: #f8f8f8;
    --Component-Background-Active: #f0f0f0;
    --Component-Active: #4a70f7;
    --Component-Stroke: #464646;
    --Component-Disable: #a4a4a4;
    --Component-Shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.21);
} */
