.TreeViewComponent {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.TreeViewComponent::-webkit-scrollbar {
    display: none;
}

.TreeViewComponent .TreeViewItem {
    position: absolute;
    width: 100%;
    transition: all 0.2s ease-out;
}

.TreeViewComponent .TreeViewItem .Children {
    position: absolute;
    overflow: hidden;
    transition: all 0.2s ease-out, background-color 0s;
    width: 100%;
}
