.DarkTheme {
    --Banner-Text: #fff;
}

.LightTheme {
    --Banner-Text: #464646;
}

.BannerView {
    position: absolute;
    width: 100%;
    height: 100%;
    touch-action: none;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
}

.BannerView .BannerViewBox {
    position: relative;
    width: 270px;
    height: 130px;
    top: calc((100% - 130px) / 2);
    left: calc((100% - 270px) / 2);
    align-items: center;
    justify-content: center;
}

.BannerView .Indecator {
    position: relative;
    left: calc((100% - 60px) / 2);
    border: 3px solid #f3f3f3;
    border-top: 3px solid #3b5bd1;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.BannerView .Label {
    text-align: center;
    width: 100%;
    height: 30px;
    margin-top: 20px;
    font-family: NanumBarunGothic;
    font-size: 20px;
    font-weight: bold;
    color: var(--Banner-Text);
    text-shadow: var(--Banner-Text-Shadow);
}
