.SaveMarkupFrame {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: visible;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
}

.SaveMarkup {
    position: absolute;
    left: calc((100% - 380px) / 2);
    top: calc((100% - 210px) / 2);
    width: 380px;
    height: 210px;
    background-color: var(--Dialogue-background);
    border-radius: 6px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.21);
    border: solid 1px rgba(0, 0, 0, 0.7);
    padding-bottom: 10px;
    pointer-events: all;
    color: var(--Text-Normal);
    font-size: 14px;
    overflow: hidden;
}

.SaveMarkup .Titlebar {
    background-color: var(--Dialogue-Titlebar-background);
    position: relative;
    height: 30px;
    left: 0px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    border-radius: 6px 0px 0px 0px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.3);
}

.SaveMarkup .Text {
    top: 0px;
    width: 100%;
    text-align: center;
}

.SaveMarkup .Label01 {
    position: absolute;
    top: 57px;
    left: 30px;
    width: 100%;
    color: var(--Text-Normal);
}

.SaveMarkup .Label02 {
    position: absolute;
    top: 109px;
    left: 30px;
    width: 100%;
    color: var(--Text-Normal);
}

.SaveMarkup .CancelButton {
    position: absolute;
    top: 158px;
    left: 10px;
    width: 174px;
    height: 40px;
    border-radius: 6px;
    background-color: var(--Dialogue-Titlebar-background);
    display: flex;
    align-items: center;
    color: var(--Text-Normal);
}
.SaveMarkup .CancelButton:hover {
    background-color: var(--Dialogue-Titlebar-background-Hover);
}
.SaveMarkup .CancelButton:active {
    background-color: var(--Dialogue-Titlebar-background-Active);
}

.SaveMarkup .SaveButton {
    position: absolute;
    top: 158px;
    left: 196px;
    width: 174px;
    height: 40px;
    border-radius: 6px;
    background-color: var(--Background-Highlight);
    display: flex;
    align-items: center;
    color: #fff;
}

.SaveMarkup .DisabledSaveButton {
    position: absolute;
    top: 158px;
    left: 196px;
    width: 174px;
    height: 40px;
    border-radius: 6px;
    /* background-color: #3b59c5; */
    background-color: var(--Dialogue-Button-Disable);
    display: flex;
    align-items: center;
    color: var(--image-stroke-color);
}

.SaveMarkup .SaveButton:hover {
    background-color: var(--Background-Highlight-Hover);
}
.SaveMarkup .SaveButton:active {
    background-color: var(--Background-Highlight-Active);
}

.SaveMarkup .SelectedLabel {
    color: var(--Text-Normal);
}

.SaveMarkup .NormalLabel {
    color: var(--Text-Normal);
}

.SaveMarkup #saveMarkup {
    position: absolute;
    top: 45px;
    left: 77px;
    width: 273px;
    height: 40px;
}
.SaveMarkup #public {
    position: absolute;
    top: 98px;
    left: 111px;
    height: 40px;
    width: 130px;
}

.SaveMarkup #private {
    position: absolute;
    top: 98px;
    left: 228px;
    height: 40px;
    width: 130px;
}

.SaveMarkup .CheckBox svg {
    position: absolute;
    top: 7px;
}

.SaveMarkup .CheckBox span {
    position: absolute;
    top: 8px;
    margin-left: 30px;
    height: 24px;
    display: flex;
    align-items: center;
    font-size: 15px;
}

.SaveMarkup .CheckBox > .Selected > span {
    color: var(--Text-Normal);
}
.SaveMarkup .CheckBox > .Normal > span {
    color: var(--Text-Normal);
}
.SaveMarkup .CheckBox:hover {
    filter: drop-shadow(0px 0px 5px rgb(0 0 0 / 0.3));
}
.SaveMarkup .CheckBox:active {
    filter: drop-shadow(0px 0px 2px rgb(0 0 0 / 0.3));
}
