/* Signup Page Styles */
.signup-container {
    width: max-content;
    min-width: 370px;
    margin: auto; /* 부모 요소 안에서 수평으로 가운데 정렬 */
    padding: 20px;
    /*border: 1px solid var(--secondary-color);*/
    border-radius: 10px;
    /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);*/
    background-color: var(--light-color);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

form > div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--text-color); /* 텍스트 색상을 전역 변수로 설정 */
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid var(--secondary-color); /* 전역 변수 사용 */
    border-radius: 5px;
    background-color: var(--light-color); /* 입력 필드 배경색 */
    color: var(--text-color); /* 텍스트 색상 */
}

input:focus {
    border-color: var(--primary-color); /* 초점 시 Primary 색상 */
    outline: none;
    box-shadow: 0 0 5px var(--primary-color);
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color); /* 버튼 배경색 */
    color: var(--light-color); /* 텍스트 색상 */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: var(--secondary-color); /* 호버 시 Secondary 색상 */
}

.error-message {
    color: var(--error-color); /* 에러 메시지 색상 수정 */
    font-weight: bold;
}

/* Additional spacing for Signup Fields */
.signup-container form > div:last-child {
    margin-top: 20px; /* 버튼과 필드 간격 추가 */
}

.error-messages {
    color: red;
    margin-top: 1rem;
    padding-left: 1rem;
}

.error-messages li {
    margin-bottom: 0.5rem;
    list-style-type: circle;
}