.SignalSearchView {
    --SignalSearchResultWidth: 482px;
    position: absolute;
    top: 0px;
    width: var(--SignalSearchResultWidth);
    height: 100%;
    background-color: var(--Background-Normal);
}

.SignalSearchView .ListView {
    position: absolute;
    top: 70px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    overflow-y: scroll;
    border-collapse: collapse;
}

.SignalSearchView .ListView::-webkit-scrollbar {
    display: none;
}

.SignalSearchView .ListView table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.SignalSearchView .ListView tr {
    height: 40px;
    color: var(--Text-Normal);
}

.SignalSearchView .ListView td {
    padding: 10px 5px 10px 5px;
    font-size: 13px;
    /* white-space: nowrap; */
    word-break: break-word;
}

.SignalSearchView .ListView th {
    font-size: 15px;
    font-weight: normal;
}

.SignalSearchView .ListView tbody tr:nth-child(odd) {
    background-color: var(--Table-Row-Highlight);
}
.SignalSearchView .ListView tbody tr:hover {
    background-color: var(--Table-Row-Hover);
}
.SignalSearchView .ListView tbody tr:active {
    background-color: var(--Table-Row-Active);
}

.SignalSearchView .ListView td:first-child {
    border-top-left-radius: 11px;
    border-bottom-left-radius: 11px;
}

.SignalSearchView .ListView td:last-child {
    border-top-right-radius: 11px;
    border-bottom-right-radius: 11px;
}

.SignalSearchView .ListView .Header .Column1 {
    width: 70px;
}
.SignalSearchView .ListView .Header .Column3 {
    width: 120px;
}
.SignalSearchView .ListView .Header .Column4 {
    width: 50px;
}
.SignalSearchView .ListView .RowItem .Column1 {
    text-align: center;
}
.SignalSearchView .ListView .RowItem .Column3 {
    text-align: center;
}

.SignalSearchView .ListView .RowItem .Column4 {
    width: 50px;
    text-align: center;
}
