.FavoriteMenu {
    position: absolute;
    width: var(--FavoriteMenuWidth);
    height: 100%;
    transition: all 0.3s;
}

.FavoriteMenu #favoriteMenuTreeView {
    position: absolute;
    top: 120px;
    left: 15px;
    right: 2px;
    bottom: 15px;
}
