.MydocTreeViewComponent {
    position: absolute;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.MydocTreeViewComponent.PldTreeViewComponent {
    height: 57%;
}

.MydocTreeViewComponent.PldTreeViewComponent.Loading {
    opacity: 50%;
    pointer-events: none;
}

.MydocTreeViewComponent::-webkit-scrollbar {
    display: none;
}

.MydocTreeViewComponent .TreeViewItem {
    position: absolute;
    width: 100%;
    transition: all 0.2s ease-out;
}

.MydocTreeViewComponent .TreeViewItem .Children {
    position: absolute;
    overflow: hidden;
    transition: all 0.2s ease-out, background-color 0s;
    width: 100%;
}
