.procedure-container {
    width: 820px;
    background: var(--toolbar-background);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--Text-Normal);
    padding: 30px 30px 0;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px black;
    z-index: 1;

    .procedure-body {
        display: flex;
        flex-direction: column;

        .procedure-input-body {
            width: 80%;
        }

        .CommonComponent {
            position: relative;
            width: 100%;
            height: 40px;
        }

        .procedure-input {
            display: flex;
            align-items: center;
            margin-bottom: 20px;

            .procedure-input-div {
                width: 20%;
            }

            &:nth-child(1) {
                margin-top: 30px;
            }
        }

        .procedure-select {
            display: flex;
            align-items: center;
            justify-content: space-around;

            .procedure-select-div {
                width: 53%;
            }
            .SelectControl {
                margin-top: 0;
                left: 0;
                width: 95%;
                margin-left: 10px;
            }
        }
    }
}

.procedure-table {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    background-color: var(--Markup-Popup-Background);
    color: var(--Text-Normal);
    font-size: 13px;

    table {
        border-collapse: collapse;
        background-color: #8e8e8e;

        .addHover {
            &:hover {
                background-color: var(--Dialogue-Titlebar-background-Hover);
            }
        }

        th {
            padding: 15px 0;
            font-weight: 100;
            color: white;
        }
        td {
            max-width: 250px;
            min-width: none;
            padding: 10px 0;
            white-space: normal !important;
        }

        tbody {
            background-color: var(--Markup-Popup-Background);
            text-align: center;
        }
        tr {
            border-bottom: 2px solid #8e8e8e;
        }
    }
    .procedure-add-pmdc-table {
        width: 100%;
        border-collapse: collapse;
        background-color: #8e8e8e;

        .addHover {
            &:hover {
                background-color: var(--Dialogue-Titlebar-background-Hover);
            }
        }
        th {
            padding: 15px 0;
            font-weight: 100;
            color: white;
        }
        td {
            max-width: 0;
            padding: 10px 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap !important;
        }

        tbody {
            background-color: var(--Markup-Popup-Background);
            text-align: center;
        }
        tr {
            border-bottom: 2px solid #8e8e8e;
        }
    }

    .procedure-table-btn {
        width: 150px;
        padding: 10px 0;
        text-align: center;
        align-self: center;
        border-radius: 10px;
        background-color: #4069f0;
        color: white;
        &:hover {
            background-color: #6181ed;
            cursor: pointer;
        }
    }
}

.procedure-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;

    .procedure-footer-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 50px;
        border-radius: 10px;

        &:nth-child(1) {
            margin-right: 20px;
        }

        &:hover {
            background-color: var(--Markup-Popup-ColorPicker-Button-hover);
            cursor: pointer;
        }
    }
}

.prcedure-add-container {
    width: 700px;
    background: var(--toolbar-background);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--Text-Normal);
    padding: 30px 50px 0;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px black;
    z-index: 2;

    .procedure-add-header {
        margin-bottom: 20px;
    }

    .procedure-add-body {
        .CommonComponent {
            position: relative;
            width: 100%;
            height: 40px;
        }

        .procedure-add-title {
            display: flex;
            align-items: center;
            div {
                white-space: nowrap;
                margin-right: 40px;
                &:nth-child(2) {
                    margin-right: 70px;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .procedure-add-equip {
            display: flex;
            align-items: center;
            margin: 20px 0 25px;
            div {
                white-space: nowrap;
                margin-right: 40px;
                &:nth-child(2) {
                    color: white;
                    width: 90px;
                    padding: 5px 0;
                    border-radius: 7px;
                    text-align: center;
                    background-color: #4069f0;
                    margin-right: 30px;
                    &:hover {
                        cursor: pointer;
                        background-color: #6181ed;
                    }
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .procedure-add-pmdc {
            display: flex;
            align-items: center;
            div {
                white-space: nowrap;
                margin-right: 23px;
                &:nth-child(2) {
                    color: white;
                    width: 90px;
                    padding: 5px 0;
                    border-radius: 7px;
                    text-align: center;
                    background-color: #4069f0;
                    margin-right: 30px;
                    &:hover {
                        cursor: pointer;
                        background-color: #6181ed;
                    }
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .procedure-add-content {
            display: flex;
            align-items: center;
            height: 250px;

            div {
                white-space: nowrap;
                margin-right: 40px;
            }

            .CommonComponent {
                width: 100%;
                position: relative;
                height: 200px;
                margin-right: 20px;
            }

            #procedureContent {
                width: 100%;
                height: 100%;
                font-size: 14px;
                padding: 10px 10px;
                color: var(--Component-Stroke);
                background-color: var(--Component-Background);
                border: solid 1px var(--Component-Border);
                border-radius: 8px;
                resize: none;
                &:hover {
                    background-color: var(--Component-Background-Hover);
                }
                &:active {
                    background-color: var(--Component-Background-Active);
                }
                &:focus {
                    border: solid 2px var(--Component-Active);
                    outline: none;
                }
                &::placeholder {
                    color: var(--Component-Disable);
                }
            }
        }
    }
}

.procedure-change-container {
    width: 700px;
    background-color: var(--toolbar-background);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--Text-Normal);
    padding: 30px 30px 0;
    box-shadow: 3px 3px 3px 3px black;
    border-radius: 10px;
    z-index: 3;

    .procedure-change-header {
        margin-bottom: 20px;
    }

    .procedure-change-body {
        & > div {
            margin-bottom: 20px;
        }
    }

    .CommonComponent {
        position: relative;
        width: 100%;
        height: 40px;
        .SelectControl {
            margin-top: 0;
            left: 0;
            width: 95%;
        }
    }
    .procedure-change-select {
        display: flex;
    }

    .procedure-change-cnt {
        display: flex;
        white-space: nowrap;
        align-items: center;

        .procedure-change-cnt-title {
            display: flex;
            justify-content: end;
            width: 100%;
            margin-right: 20px;
        }
    }

    .procedure-change-search {
        display: flex;
        white-space: nowrap;
        align-items: center;
        
        .CommonComponent {
            width: 90%;
        }

        .procedure-select-box {
            width: 150px;
            height: 40px;
            margin-right: 20px;
            padding-left: 5px;
            border-radius: 5px;
        }
        
        .procedure-change-search-btn {
            width: 100px;
            padding: 10px 0;
            background-color: #4069f0;
            text-align: center;
            border-radius: 4px;
            color: white;
            margin: 0 12px;

            &:hover {
                cursor: pointer;
                background-color: #6181ed;
            }
        }
    }

    .procedure-change-pmdc-search {
        display: flex;
        flex-direction: column;

        & > div {
            display: flex;
        }

        & > div:nth-child(1) {
            margin-bottom: 15px;
            .CommonComponent:nth-child(1) {
                margin-right: 20px;
            }
        }

        .procedure-change-search-btn {
            margin: 0;
            margin-left: 20px;
        }

    }
}
