.DocumentMenu .DocumentDisplaySelect {
    position: absolute;
    top: 65px;
    left: 25px;
    height: 40px;
}

.DocumentDisplaySelect .CheckBox {
    position: absolute;
    top: 0px;
    width: 90px;
    height: 40px;
}

.DocumentDisplaySelect #number {
    left: 0px;
}
.DocumentDisplaySelect #name {
    left: 100px;
}

.DocumentDisplaySelect .CheckBox svg {
    position: absolute;
    top: 7px;
}

.DocumentDisplaySelect .CheckBox span {
    position: absolute;
    top: 8px;
    margin-left: 30px;
    height: 24px;
    display: flex;
    align-items: center;
    font-size: 15px;
}

.DocumentDisplaySelect .CheckBox > .Selected > span {
    font-weight: bold;
    color: var(--Text-Highlight);
}
.DocumentDisplaySelect .CheckBox > .Normal > span {
    color: var(--Text-Normal);
}
.DocumentDisplaySelect .CheckBox:hover {
    filter: drop-shadow(0px 0px 5px rgb(0 0 0 / 0.3));
}
.DocumentDisplaySelect .CheckBox:active {
    filter: drop-shadow(0px 0px 2px rgb(0 0 0 / 0.3));
}
