.peer-detail-item[b-zsxrjsemau] {
    position: relative;
}

.peer-section-summary[b-zsxrjsemau] {
    font-size: clamp(1.59375rem, 18.7895px + 1.39803vw, 1.125rem);
    font-weight: bolder;
}

.peer-section-container[b-zsxrjsemau] {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    margin-bottom: 12px;
    position: sticky;
    top: -1.5rem;
}

@media (max-width: 1680px) {
    .radzen-card-scrollable[b-zsxrjsemau] {
        overflow-x: auto; /* 가로 스크롤 활성화 */
        display: block;   /* 블록 요소로 유지 */
        white-space: nowrap; /* 내용을 한 줄로 표시, 줄바꿈 방지 */
    }
}