.EquipmentMenu {
    position: absolute;
    width: var(--EquipmentMenuWidth);
    height: 100%;
    transition: all 0.3s;
    /* background-color: var(--Background-Normal); */
}

#equipmentMenuTreeView {
    position: absolute;
    top: 65px;
    left: 15px;
    right: 15px;
    bottom: 15px;
}
.EquipmentMenu .TreeViewItem {
    --TreeView-Indent-Width: 15px;
}
.EquipmentMenu .TreeViewItem .Image1 {
    position: absolute;
    top: 8px;
    width: 24px;
    height: 24px;
}

.EquipmentMenu > .ShowAllIcon {
    position: absolute;
    top: 22px;
    left: 70px;
    width: 24px;
    height: 24px;
}

.EquipmentMenu > .ShowAllBackground {
    position: absolute;
    top: 14px;
    left: 62px;
    width: 40px;
    height: 40px;
}

.EquipmentMenu .TreeViewItem .ShowAllIcon {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 24px;
    height: 24px;
}

.EquipmentMenu .ShowAllIcon :hover {
    --CloseIcon-Fill: #d7dbe6;
    --CloseIcon-Stroke: #555;
}

.EquipmentMenu .TreeViewItem .ShowAllBackground {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 40px;
    height: 40px;
}

.EquipmentMenu .TreeViewItem .Text {
    position: absolute;
    top: 0px;
    height: 100%;
    font-size: 14px;
    /* text center align */
    display: flex;
    align-items: center;
}

.EquipmentMenu .TreeViewItem .Label {
    position: absolute;
    border-radius: 10px;
    width: 100%;
}
.EquipmentMenu .TreeViewItem .Label:hover {
    background-color: var(--Background-Normal-Hover);
}
.EquipmentMenu .TreeViewItem .Label:active {
    background-color: var(--Background-Normal-Active);
}
.EquipmentMenu .TreeViewItem .SelectedLabel {
    background-color: var(--Background-Highlight);
}
.EquipmentMenu .TreeViewItem .SelectedLabel:hover {
    background-color: var(--Background-Highlight-Hover);
}
.EquipmentMenu .TreeViewItem .SelectedLabel:active {
    background-color: var(--Background-Highlight-Active);
}
