.SideView {
    --DrawingListMenuWidth: 450px;
    --EquipmentListMenuWidth: 262px;
    --SearchMenuWidth: 230px;
    --RelatedMenuWidth: 230px;
    --FavoriteMenuWidth: 425px;
    --NotiorderMenuWidth: 310px;
}

.SideView {
    position: absolute;
    width: var(--SideMenuWidth);
    height: 100%;
}

.SideView > .Background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--Background-Normal);
}

.SideViewShadow {
    box-shadow: 5px 0 8px -2px rgba(0, 0, 0, 0.16);
}

.SideMenuLabel {
    position: absolute;
    left: 22px;
    top: 25px;
    font-size: 18px;
    color: var(--Text-Highlight);
}

.SideView .SideViewBackground {
    background-color: var(--Background-Normal);
}
